*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    font-size: 10px;
    font-family: 'Dosis', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hero Section */
#hero{
    background-image: url(images/RimikaDhara.png);
    background-size: cover;
    background-position: top center;
    color: rgb(138, 41, 235);
    position: relative;
    animation: transitionIn 2s;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 5.5rem;
    position:relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation: text_reveal_name 0.5s ease forwards;
    animation-delay: 2s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgb(138, 41, 235);
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h2{
    display: block;
    color: transparent;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    margin-top: 50px;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 3s;
}
#hero h2 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgb(138, 41, 235);
    animation: text_reveal_box 1s ease;
    animation-delay: 2.5s;
}
#hero h3{
    margin-top:5px;
    display: block;
    color: transparent;
    width: fit-content;
    font-size: 2rem;
    position: relative;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 3s;
}
#hero h3 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgb(138, 41, 235);
    animation: text_reveal_box 1s ease;
    animation-delay: 2.5s;
}
#hero h4{
    margin-top:5px;
    display: block;
    color: transparent;
    width: fit-content;
    font-size: 2rem;
    position: relative;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 3s;
}
#hero h4 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgb(138, 41, 235);
    animation: text_reveal_box 1s ease;
    animation-delay: 2.5s;
}
#hero .hero-items a{
    display: inline-block;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 2px solid rgb(138, 41, 235);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin:10px;
    margin-top: 30px;
    margin-left:0;
}
#hero .hero-items .button:hover{
    color: white;
    background-color: rgb(138, 41, 235);
}
/* End Hero Section */

/* Navigation Bar Section */
header{
    display:flex;
    position: absolute;
}
nav{
    position: absolute;
    background-color:transparent;
    font-size: 0;
    padding:10px;
    text-align:center;
    margin-left: 25%;
    animation: transitionInNav 10s;
    z-index: 1;
}
nav span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgb(138, 41, 235);
    animation: text_reveal_box 1s ease;
    animation-delay: 2.5s;
}

.header-name{
    align-items:right;
}
.header-name a{
    color:rgb(138, 41, 235);
    text-decoration: none;
    font-size: 2rem;
}
.header-nav{
    font-size: 1.75rem;
    border: 0px;
    display:flex;
    margin:0;
}

.header-nav .divider{
    list-style: none;
    text-align: center;
    display:inline;
    display:block;
    border-left: 1px solid rgb(138, 41, 235);
    z-index: 1;
}

.header-nav .divider:first-child{
    border-left: none;
}

.header-nav .divider a{
    text-decoration: none;
    padding: 0 25px;
    display:block;
    color: white;
    position:relative;
    z-index: 1;
    display: inline-block;
    text-align:center;
}

.header-nav .divider a:hover{
    transition: smooth;
    transform: scale(1.3);
    color: rgb(138, 41, 235);
    
}
/* End Navigation Bar Section */

/* About Section */
#about{
    background-color: rgb(33, 13, 53);
}
#about .about{
    font-size: 2rem;
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#about .section-title{
    font-size: 4rem;
    font-weight: 2000;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#about .section-title span{
    text-decoration: underline;
}
#about .about-top p{
    color:rgb(201, 160, 255);
    font-size: 2.25rem;
    margin-top: 25px;
    padding:0px 200px ;
    line-height: 2.5rem;
    font-weight: 1500px;
    letter-spacing: .05rem;
}
#about .about-bottom{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}
#about .about-item{
    flex-basis: 65%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 80px;
    border-radius: 10px;
    color: white;
    background-size: cover;
    margin: 20px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#about .about-bottom p{
    font-size: 2.3rem
}
#about .about-item:nth-child(1){
    background-image: url(images/about1.jpeg);
}
#about .about-item:nth-child(2){
    background-image: url(images/about2.png);
}
#about .about-item:nth-child(3){
    background-image: url(images/about3.webp);
}
#about .about-item:nth-child(4){
    background-image: url(images/about4.png);
}
#about .about-item::after{
    content: '';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .4;
    z-index: -1;
}
#about .about-item:hover{
    transition: smooth;
    transform:scale(1.05);
}
#about .icon{
    font-size: 4rem;
    background-color: black;
    padding: 20px;
    border-radius: 50%;
}
/* End About Section */

/* Contact Section */
#contact{
    background-color:black;
    align-content: center;
}
#contact .section-title{
    font-size: 4rem;
    font-weight: 2000;
    color: white;
    padding-top:25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#contact .section-title span{
    text-decoration: underline;
}
#contact p{
    color:rgb(201, 160, 255);
    font-size: 2.5rem;
    margin-top: 25px;
    padding:0px 200px ;
    line-height: 2.5rem;
    font-weight: 1500px;
    letter-spacing: .05rem;
    text-align: center;
}
.social-row{
    position:relative;
    padding-left:25%;
    display:flex;
    list-style:none;
}
.social-row img{
    width: 10vw;
    height: 10vw;
    border-radius:25%;
    padding:20px;
    padding-bottom: 20px;
}
.social-row img:hover{
    transition: smooth;
    transform: translateY(-20%);
}

/* button{
    top:50%;
    left:50%;
    transform:translate(-255px, 125px);
    position:fixed;
    width:500px;
    height:50px;
    border-width:0px;
    cursor: pointer;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.7);
}
form{
    margin-left:180px;
    margin-right:180px;
    padding:25px;
    color: white;
} */
/* End Contact Section */

/* Keyframes */
@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateY(-5deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
@keyframes transitionInNav{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color:white;
    }
}
@keyframes text_reveal_name{
    100%{
        color:rgb(138, 41, 235);;
        font-weight: 500; 
    }
}
/* End Keyframes */